.separator {
  margin-top: 40px; }

/* 3D Cube */
.space3d {
  perspective: 1000px;
  width: 50vh;
  height: 50vh;
  text-align: center;
  display: inline-block; }

._3dbox {
  display: inline-block;
  transition: all 0.85s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(-15deg) rotateY(15deg); }

._3dface {
  overflow: hidden;
  position: absolute;
  border: 1px solid #888;
  background: #FFF;
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1), 0 0 50px rgba(0, 0, 0, 0.3);
  color: #333;
  line-height: 50vh; }

._3dface--front {
  width: 50vh;
  height: 50vh;
  transform: translate3d(0, 0, 25vh); }

._3dface--top {
  width: 50vh;
  height: 50vh;
  transform: rotateX(90deg) translate3d(0, 0, 25vh); }

._3dface--bottom {
  width: 50vh;
  height: 50vh;
  transform: rotateX(-90deg) translate3d(0, 0, 25vh); }

._3dface--left {
  width: 50vh;
  height: 50vh;
  left: 50%;
  margin-left: -25vh;
  transform: rotateY(-90deg) translate3d(0, 0, 25vh); }

._3dface--right {
  width: 50vh;
  height: 50vh;
  left: 50%;
  margin-left: -25vh;
  transform: rotateY(90deg) translate3d(0, 0, 25vh); }

._3dface--back {
  width: 50vh;
  height: 50vh;
  transform: rotateY(180deg) translate3d(0, 0, 25vh); }

#radio-left:checked ~ .space3d ._3dbox {
  transform: rotateY(90deg); }

#radio-right:checked ~ .space3d ._3dbox {
  transform: rotateY(-90deg); }

#radio-bottom:checked ~ .space3d ._3dbox {
  transform: rotateX(90deg); }

#radio-top:checked ~ .space3d ._3dbox {
  transform: rotateX(-90deg); }

#radio-back:checked ~ .space3d ._3dbox {
  transform: rotateY(180deg); }

._3dface--front {
  background: url(../images/47952270947_f6293fef3c_o\ 1.jpg);
  background-size: 100%; }

._3dface--left {
  background: url(../images/40251173343_84f4aca1c0_o.png);
  background-size: auto 100%; }

._3dface--right {
  background: url(../images/1.png);
  background-size: auto 100%; }

._3dface--top {
  background: url(../images/47952270947_f6293fef3c_o\ 1.jpg);
  background-size: auto 100%; }

._3dface--bottom {
  background: url(../images/47952270947_f6293fef3c_o\ 1.jpg);
  background-size: auto 100%; }

._3dface--back {
  background: url(../images/47952270947_f6293fef3c_o\ 1.jpg);
  background-size: auto 100%; }

body {
  background-color: #CEF0F4;
  margin: 0;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal; }

img {
  width: 100%; }

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: ease-in-out; }
  .loader .main__logo {
    animation: logoZoom 1.5s infinite; }

.container {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap; }
  .container .main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    height: 100vh; }
    .container .main .main__logo {
      display: flex;
      max-width: 620px;
      width: 50%; }
      .container .main .main__logo img {
        width: 100%; }
    .container .main .main__description {
      display: flex;
      width: 50%;
      max-width: 600px; }
  .container .about-project {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 200px; }
  .container .about-project__content {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100vh;
    flex-direction: column; }
    .container .about-project__content .about-project__header {
      display: flex;
      width: 30%; }
    .container .about-project__content .about-project__top {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px 0; }
    .container .about-project__content .about-project__body {
      display: flex;
      flex-direction: row;
      padding: 20px 0; }
    .container .about-project__content .about-project__column {
      display: flex;
      width: 50%;
      flex-direction: column;
      padding: 0 20px;
      font-size: 32px;
      line-height: 50px; }
      .container .about-project__content .about-project__column .about-project__header {
        display: flex;
        width: 100%;
        color: #10a9df;
        font-size: 70px;
        line-height: 82px; }
    .container .about-project__content .about-project__timer {
      max-width: 570px;
      flex-direction: column;
      display: flex; }
      .container .about-project__content .about-project__timer .about-project__header {
        display: flex;
        width: 50%;
        font-size: 32px;
        line-height: 50px;
        color: #3c3c51; }

.title {
  display: flex;
  background-color: #5d00f0;
  text-align: center;
  position: relative;
  width: 100%;
  height: 80px; }

.title::before {
  content: "";
  padding-bottom: 5%;
  background: linear-gradient(to right bottom, transparent 49.5%, #5d00f0 50%) left/100% no-repeat;
  position: absolute;
  bottom: 100%;
  left: 0px;
  right: 0px; }

.categories {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #5d00f0;
  flex-direction: column;
  padding: 0 200px; }
  .categories .categories__header__white {
    color: #FFFFFF; }
  .categories .categories__header__blue {
    color: #62E3FF; }
  .categories .categories__header__orange {
    color: #FFB4B4; }
  .categories .categories__header {
    font-style: normal;
    font-weight: bold;
    line-height: 117px;
    display: flex;
    font-size: 100px;
    width: 30%; }
  .categories .categories__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh; }
  .categories .categories__red-figure {
    position: relative;
    transition: all 0.5s; }
    .categories .categories__red-figure img {
      height: 60vh; }
  .categories .categories__blue-figure {
    position: relative;
    transition: all 0.5s;
    top: -60vh; }
    .categories .categories__blue-figure img {
      height: 60vh; }
  .categories .categories__body:hover .categories__blue-figure {
    transform: rotate(-5deg); }
  .categories .categories__body:hover .categories__red-figure {
    transform: rotate(5deg); }
  .categories .categories__list {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 105vh; }
    .categories .categories__list .categories__element {
      display: flex;
      font-size: 45px;
      line-height: 53px;
      color: #ffffff; }
    .categories .categories__list .categories__header {
      display: flex;
      width: 300px; }
    .categories .categories__list span {
      padding-top: 30px; }
    .categories .categories__list img {
      max-width: 130px; }

.afterCategory {
  display: flex;
  background-color: #10a9df;
  text-align: center;
  position: relative;
  width: 100%;
  height: 10%; }

.afterCategory::before {
  content: "";
  padding-bottom: 8%;
  background: linear-gradient(to left bottom, transparent 49.5%, #10a9df 50%) left/100% no-repeat;
  position: absolute;
  bottom: 100%;
  left: 0px;
  right: 0px; }

@keyframes logoZoom {
  0% {
    width: 33%; }
  50% {
    width: 40%; }
  100% {
    width: 33%; } }
svg {
  height: 240px;
  width: 700px; }

.memories {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row; }
  .memories .memories__header {
    display: flex;
    padding: 200px; }
  .memories .memories__cube {
    display: flex;
    padding: 200px; }
  .memories .memories__arrow {
    transition: all .2s ease-in-out; }
  .memories .memories__arrow:hover {
    transform: scale(1.1); }

input[name='select-face'] {
  display: none; }

.gifts {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 200px; }
  .gifts .gifts__header {
    display: flex;
    width: 600px; }
  .gifts .gifts__body {
    display: flex; }

/*# sourceMappingURL=style.css.map */
