.categories {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #5d00f0;
  flex-direction: column;
  padding: 0 200px;
}

  .categories__header__white {
    color: #ffffff;
  }

  .categories__header__blue {
    color: #62e3ff;
  }

  .categories__header__orange {
    color: #ffb4b4;
  }
  .categories__header {
    font-style: normal;
    font-weight: bold;
    line-height: 117px;
    display: flex;
    font-size: 100px;
    width: 30%;
  }

  .categories__body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .categories__red-figure {
    position: relative;
    transition: all 0.5s;
    top: 150px;
  }

  .categories__blue-figure {
    position: relative;
    transition: all 0.5s;
    top: -380px;
  }

  .categories__body:hover .categories__blue-figure {
    transform: rotate(-5deg);
  }

  .categories__body:hover .categories__red-figure {
    transform: rotate(5deg);
  }

  .categories__list {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -850px;
    .categories__element {
      display: flex;

      font-size: 45px;
      line-height: 53px;
      color: #ffffff;
    }

    .categories__header {
      display: flex;
      width: 300px;
    }

    span {
      padding-top: 30px;
    }
    img {
      max-width: 130px;
    }
  }

.afterCategory {
  display: flex;
  //padding: 5% 0;
  background-color: #10a9df;
  text-align: center;
  position: relative;
  width: 100%;
  height: 10%;
}

.afterCategory::before {
  content: "";
  padding-bottom: 8%;
  background: linear-gradient(to left bottom, transparent 49.5%, #10a9df 50%) left / 100% no-repeat;
  //border-radius: 2px;
  position: absolute;
  bottom: 100%;
  left: 0px;
  right: 0px;
}


@media (max-width: 1100px) {
  .categories__red-figure {
    transform: rotate(90deg);
  }

  .categories__blue-figure {
    transform: rotate(-90deg);
  }
}