.categories {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #5d00f0;
  flex-direction: column;
}

.categories__header h2 {
  color: #ffffff;
  text-shadow: #62e3ff -5px -5px 2px, #ffb4b4 5px 5px 2px;
  margin: 0;
  padding: 0 10%;


  // &:before {
  //   // content: "Categories";
  //   // text-shadow: -3px -3px #62e3ff;
  // }

  // &:after {
  //   // content: "Categories";
  //   // text-shadow: -3px -3px #ffb4b4;
  // }
}

.categories__header {
  font-style: normal;
  font-weight: bold;
  display: flex;
  width: 100%;
}

.categories__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.categories__red-figure {
  position: absolute;
  transition: all 0.5s;
  // top: 150px;

  @include for-mobile-and-sm-tablet {
    display: none;
  }
}

.categories__blue-figure {
  position: absolute;
  transition: all 0.5s;
  // top: -380px;

  @include for-mobile-and-sm-tablet {
    display: none;
  }
}

.categories__body:hover .categories__blue-figure {
  transform: rotate(-5deg);
}

.categories__body:hover .categories__red-figure {
  transform: rotate(5deg);
}

.categories__list {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 110px;

  @include for-mobile {
    top: 0;
  }

  .categories__element {
    display: flex;
    font-size: 4.5rem;
    line-height: 1;
    align-items: center;
    color: #ffffff;

    @include for-mobile {
      font-size: 2.4rem;
    }
  }

  img {
    max-width: 130px;
  }
}

.afterCategory {
  display: flex;
  //padding: 5% 0;
  background-color: #10a9df;
  text-align: center;
  position: relative;
  width: 100%;
  height: 10%;
  z-index: 100;
}

.afterCategory::before {
  content: "";
  padding-bottom: 8%;
  background: linear-gradient(to left bottom, transparent 49.5%, #10a9df 50%) left / 100% no-repeat;
  //border-radius: 2px;
  position: absolute;
  bottom: 100%;
  left: 0px;
  right: 0px;
}


@media (max-width: 1500px) {
  .categories__red-figure img {
    max-width: 800px;
  }

  .categories__blue-figure img {
    max-width: 800px;
  }

  .categories__list {

    img {
      max-width: 120px;
    }
  }
}

@media (max-width: 1000px) {

  // .categories__red-figure {
  //   transform: rotate(90deg);
  // }

  // .categories__blue-figure {
  //   transform: rotate(-90deg);
  // }
}

@media (max-width: 800px) {
  .categories__red-figure {
    transform: rotate(90deg);
  }
}
