.categories {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #5d00f0;
  flex-direction: column;
  padding: 10px 0 100px 0;

  @include for-mobile {
    padding: 20px 0;
    height: auto;
  }
}

.categories__header h2 {
  color: #ffffff;
  text-shadow: #f43838 -5px -5px 2px, #10a9df 5px 5px 2px;
  margin: 0;
  padding: 0 10%;

  @include for-mobile-and-tablet {
    text-shadow: #f43838 -3px -3px 2px, #10a9df 3px 3px 2px;
  }
  
}

.categories__header {
  font-style: normal;
  font-weight: bold;
  display: flex;
  width: 100%;

  @include for-mobile {
    padding: 5px;
  }
}

.categories__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.categories__red-figure {
  position: absolute;
  transition: all 0.5s;
  // top: 150px;

  @include for-mobile-and-sm-tablet {
    display: none;
  }
}

.categories__blue-figure {
  position: absolute;
  transition: all 0.5s;
  // top: -380px;

  @include for-mobile-and-sm-tablet {
    display: none;
  }
}

.categories__body:hover .categories__blue-figure {
  transform: rotate(-5deg);
}

.categories__body:hover .categories__red-figure {
  transform: rotate(5deg);
}

.categories__list {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 110px;

  @include for-mobile {
    top: 0;
  }

  .categories__element {
    display: flex;
    font-size: 4.5rem;
    line-height: 1;
    align-items: center;
    color: #ffffff;

    @include for-mobile {
      font-size: 2.4rem;
    }
  }

  img {
    max-width: 130px;
  }
}

.afterCategory {
  display: flex;
  //padding: 5% 0;
  background-color: #10a9df;
  text-align: center;
  position: relative;
  width: 100%;
  height: 10%;
  z-index: 100;
}

.afterCategory::before {
  content: "";
  padding-bottom: 8%;
  background: linear-gradient(to left bottom, transparent 49.5%, #10a9df 50%) left / 100% no-repeat;
  //border-radius: 2px;
  position: absolute;
  bottom: 100%;
  left: 0px;
  right: 0px;
}


@media (max-width: 1500px) {
  .categories__red-figure img {
    max-width: 800px;
  }

  .categories__blue-figure img {
    max-width: 800px;
  }

  .categories__list {

    img {
      max-width: 120px;
    }
  }
}

@media (max-height: 550px) {
  .categories {
    height: auto;
    padding: 30px;
  }

  .categories__body {
    padding: 30px 0 150px 0;
  }
}