.contacts {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;
}

.contacts__header h2 {
  font-size: 100px;
  line-height: 117px;
  padding: 0 300px;
}

.contacts__header {
  display: flex;
  color: white;
  background-color: #f43838;
  width: 100%;
}

.contacts__section-slider {
  //display: flex;
  background: #10a9df;
  // padding: 80px 140px;
  // justify-content: center;
}

.contacts__section {
  display: flex;
  //padding: 0 60px;
  flex-direction: column;

  img {
    //width: 427px;
    //height: 427px;
    width: 100%;
  }
}

.contacts__section-block {
  background: #F43838;
border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 0 15px 0;

  h3 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    color: #FFFFFF;
    margin: 5px 0;
  }

  h4 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    display: flex;
    color: #FFFFFF;
    margin: 5px 0;
  }
}
