.contacts {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: #10a9df;
}

.contacts__header h2 {
  padding: 0 10%;
  text-shadow: #f43838 -5px -5px 2px, #10a9df 5px 5px 2px;
  color: aliceblue;

  @include for-mobile-and-tablet {
    text-shadow: #f43838 -3px -3px 2px, #10a9df 3px 3px 2px;
  }
}

.contacts__header {
  display: flex;
  color: white;
  background-color: #f43838;
}

.contacts__body {
  padding-top: 80px;
}

.contacts__section-slider {
  display: flex;
}

.contacts__section {
  // padding: 0 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;

  @media (max-width: 1400px) {
    width: 300px;
  }

  @media (max-width: 768px) {
    width: 250px;
  }

  img {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
  }
}

.contacts__section-block {
  background: #f43838;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 40px auto 15px;

  h3 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    color: #ffffff;
    margin: 5px 0;
  }

  h4 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    margin: 5px 0;
  }
}

@media (max-width: 1600px) {
  .contacts__body {
    padding-top: 40px;
  }

  .contacts__section-block {
    margin: 30px auto 5px;
  }
}

@media (max-width: 1400px) {
  .contacts__section-slider {
    // padding: 0 20px;
    display: flex;
    img {
      width: 75%;
    }
  }

  .contacts__section-block {
    background: #f43838;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 10px auto 5px;

    h3 {
      font-size: 20px;
      line-height: 35px;
    }
  
    h4 {
      font-size: 20px;
      line-height: 35px;
    }
}
}
