footer {
//     background: #10a9df;

//     p {
//         margin: 0;
//     }
// }

width: 100%;
  height: 60px;
  background-color:  #10a9df;
//   color: $main-color-beige;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  font-size: 1.6rem;
  margin: 0;
}

.regulations {
  font-size: 1.6rem;

  &:visited {
    // color: $main-color-beige;
  }

  &:link {
    // color: $main-color-beige;
  }


}