.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  height: 100vh;
}

.main__logo {
  display: flex;
  max-width: 620px;
  width: 50%;
  padding: 40px;
  img {
    width: 100%;
  }
}

.main__description {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 40px;
}

.main__dates {
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 82px;
  color: #4300ac;
}

.main__place {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;

  color: #4300ac;
}

.main__registration {
  position: relative;
  width: 460px;
}

.main__registration a {
  opacity: 0;
  width: 500px;
  font-size: 40px;
  line-height: 47px;
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  left: 150px;
  top: 250px;
  animation-delay: 3s;
  animation-name: fadeout;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.main__registration__blue {
  width: 0px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  animation-delay: 1s;
  animation-name: slidein;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.main__registration__blue img {
  position: absolute;
  width: 450px;
  transition: all 0.8s cubic-bezier(0.21, 0.8, 0.59, 0.92);
}

.main__registration__red {
  width: 0px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  animation-delay: 1.5s;
  animation-name: slidein;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.main__registration__red img {
  position: absolute;
  width: 450px;
  transition: all 0.8s cubic-bezier(0.21, 0.8, 0.59, 0.92);
}

@media (max-width: 1550px) {
  .main__description {
    padding: 40px 0px;
  }

  .main__registration a {
    left: 110px;
  }
}

@media (max-width: 1300px) {
  .main__dates {
    font-size: 55px;
  }

  .main__place {
    font-size: 23px;
  }

  .main__description {
    padding-top: 100px;
  }
  .main__logo {
    max-width: 400px;
  }

  .main__registration__blue {
    left: 110px;

    img {
      width: 350px;
    }
  }

  .main__registration__red {
    left: 110px;
    img {
      width: 350px;
    }
  }

  .main__registration a {
    left: 150px;
    top: 300px;
    font-size: 32px;
  }
}

@media (max-width: 1100px) {
  .main {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      width: 100%;
  }

  // .main__logo {
  //     width: 100%;
  //     max-width: 900px;
  // }

  // .main__description {
  //     width: 100%;
  // }
}

@media (max-width: 800px) {
}
