.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  height: 100vh;
}

.main__logo {
  display: flex;
  max-width: 620px;
  width: 50%;
  padding: 40px;

  img {
    width: 100%;
  }
}

.main__description {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 40px;
}

.main__dates, .main__place {
  font-style: normal;
  font-weight: normal;
  color: #4300ac;
  line-height: 1.25;
  text-align: right;

  @include for-tablet() {
    margin: 0;
  }

  @include for-mobile() {
    margin: 0 auto;
    padding: 0;
  }
}

.main__dates {
  font-size: 5.5rem;

  @include for-tablet() {
    font-size: 3.4rem;
  }

  @include for-mobile() {
    font-size: 2.4rem;
  }
}

.main__place {
  font-size: 3.2rem;

  @include for-tablet() {
    font-size: 2.4rem;
  }

  @include for-mobile() {
    font-size: 1.6rem;
  }
}

a.main__registration {
  display: block;
  position: relative;
  width: 450px;
  text-align: center;
  margin-top: 10px;

  @media (max-width: 1300px) {
    width: 350px;
  }

  span {
    opacity: 0;
    font-size: 4rem;
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 16px;
    animation-delay: 3s;
    animation-name: fadeout;
    animation-duration: 1s;
    animation-fill-mode: forwards;


    @include for-mobile() {
      top: 14px;
      font-size: 3.2rem;
    }

  }
}

.main__registration__blue {
  width: 0px;
  overflow: hidden;
  animation-delay: 1s;
  animation-name: slidein;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

  img {
    width: 450px;
    transition: all 0.8s cubic-bezier(0.21, 0.8, 0.59, 0.92);

    @media (max-width: 1300px) {
      width: 350px;
    }
  }
}


.main__registration__red {
  width: 0px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  animation-delay: 1.5s;
  animation-name: slidein;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

  img {
    width: 450px;
    transition: all 0.8s cubic-bezier(0.21, 0.8, 0.59, 0.92);

    @media (max-width: 1300px) {
      width: 350px;
    }
  }
}

@media (max-width: 1550px) {
  .main__description {
    padding: 40px 0px;
  }
}

@media (max-width: 1300px) {

  .main__description {
    padding-top: 100px;
  }
  .main__logo {
    max-width: 400px;
  }
}

@media (max-width: 1100px) {
  .main {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
  }

  // .main__logo {
  //     width: 100%;
  //     max-width: 900px;
  // }

  // .main__description {
  //     width: 100%;
  // }
}

@media (max-width: 800px) {
}
