.memories {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.memories__header{
  padding: 0 10%;
  margin: 15px;
  
  h2 {
    margin: 0;   
    color: aliceblue;
    margin: 0;
    
    &:after {
      content: "Як це було раніше";
      color: #f43838;
    }
    
    &:before {
      content: "Як це було раніше";
      
      color: #10a9df;
    }
  }
}

.cube {
  display: flex;
  flex-direction: row;
}

.memories__cube {
  display: flex;
  padding: 150px;
}

.memories__arrow {
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  min-width: 50px;
}

.memories__arrow:hover {
  transform: scale(1.1);
}

input[name="select-face"] {
  display: none;
}

@media (max-width: 1450px) {
  .memories__cube {
    padding: 200px 100px;
  }
}

@media (max-width: 1200px) {
  .memories {
    flex-direction: column;
  }

  .memories__cube {
    // padding: 80px;
  }
}

@media (max-width: 900px) {
  .cube {
    zoom: 80%;
  }
}

@media (max-width: 600px) {
  .cube {
    zoom: 50%;
  }
}