.organizers {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.organizers__header h2 {
  font-size: 100px;
  line-height: 117px;
  padding: 0 300px;
}

.organizers__header {
  display: flex;
  color: white;
  background-color: #f43838;
  width: 100%;
}

.organizers__body {
  display: flex;
  flex-direction: column;
}

.organizers__section {
  display: flex;
  width: 100%;
}

.organizers__section-photo {
  display: flex;
  border: #f43838 5px solid;
  width: 50%;
}

.organizers__section-text {
  display: flex;
  width: 50%;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  background: #10a9df;
  border: #f43838 5px solid;
}

.organizers__section-text span {
  display: flex;
  padding: 0 100px;
  font-size: 25px;
  line-height: 35px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
}

@media (max-width: 1200px) {
  .organizers__header h2 {
    font-size: 100px;
    line-height: 117px;
    padding: 0 100px;
  }

  .organizers__section {
    flex-direction: column;
  }

  .organizers__section-photo {
    width: 99%;
  }

  .organizers__section-text {
    height: 50vw;
    width: 99%;
  }

  .organizers__section-text span {
    font-size: 45px;
    line-height: 55px;
  }

  .section-second {
    flex-direction: column-reverse;
  }
}

@media (max-width: 900px) {
  .organizers__section-text span {
    font-size: 35px;
    line-height: 45px;
  }

  .organizers__header h2 {
    font-size: 80px;
    line-height: 87px;
    padding: 0 100px;
  }
}