.partners {
    display: flex;
    width: 100%;
    flex-direction: column;
  
    .partners__header h2{
      color: #10a9df;
      padding: 0 10%;
    }
  
    .partners__body {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  
    .partner-logo {
      padding: 50px;
  
      img {
        max-width: 370px;
        width: auto;
        height: auto;
      }
    }
  }