.partners {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 150px;
  
    .partners__header {
      display: flex;
      font-weight: bold;
      font-size: 100px;
      line-height: 117px;
      color: #10a9df;
    }
  
    .partners__body {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  
    .partner-logo {
      padding: 50px;
  
      img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
  }