.place {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  padding: 0 10%;

  @include for-mobile-and-tablet {
    padding: 20px 5%;
  }

  @include for-mobile-and-sm-tablet {
    padding: 20px 1%;
  }

  @include for-mobile {
    padding: 0;
  }

  h2 {
    color: #10a9df;

    @include for-mobile {
      padding: 0 20px;
    }
  }
}

@media (max-height: 600px) {
  .place {
    height: auto;
  }
}