.place {
height: 100vh;
width: 100%;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  h2 {
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 100px;
    line-height: 117px;
    color: #10a9df;
  }
}
