.requirements {
  height: 100vh;
  width: 100%;
  background: #10a9df;
  display: flex;
  align-items: center;
  justify-content: center;

  .requirements__list {
    width: 80%;

    @include for-mobile-and-sm-tablet {
      width: 95%;
    }
  }

  .requirements__header  h2 {
    background: #5d00f0;
    color: #ffffff;
    text-shadow: #f43838 -5px -5px 2px, #10a9df 5px 5px 2px;
    margin: 0;
    padding: 30px;

    @include for-mobile-and-tablet {
      padding: 10px;
      text-shadow: #f43838 -3px -3px 2px, #10a9df 3px 3px 2px;
    }
  }

  ul {
    width: 70%;
    float: right;
    border: 30px solid #5d00f0;
    border-top: 0;
    margin: 0;
    padding: 40px 20px;

    li {

      list-style-image: url(../images/list-element-img.png);
    }

    @include for-mobile-and-tablet {
      width: auto;
      float: none;
    }

    @include for-mobile {
      padding: 20px 0;
    }
  }

  li.empty {
    shape-outside: polygon(0 0, 0 200px, 200px 300px);
    width: 300px;
    height: 250px;
    float: left;
    list-style: none;
  }

  li {
    margin: 25px;
    display: list-item;
    list-style-position: inside;
    span {
      font-size: 35px;
      line-height: 50px;
      color: white;
      background: red;
      @include for-mobile {
        font-size: 25px;
        line-height: 40px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .requirements {
    li.empty {
      shape-outside: none;
      width: 0;
      height: 0;
      float: right;
    }

    .li {
      margin: 20px 0;
      width: 100%;
    }
  }
}

@media (max-width: 1300px) {
  .requirements {
    li.empty {
      shape-outside: none;
      width: 0;
      height: 0;
      float: right;
    }

    .li {
      margin: 20px 0;
      width: 100%;
    }
  }
}

@media (max-height: 550px) {
  .requirements {
    height: auto;
  }
}