@import "variables";
@import "cube";
@import "main";
@import "about";
@import "categories";
@import "organizers";
@import "contacts";
@import "memories";
@import "partners";
@import "gifts";

body {
  background-color: $background;
  margin: 0;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  zoom: 90%;
}
img {
  width: 100%;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: ease-in-out;
  
  .main__logo {
    max-width: 1000px;
    animation: logoZoom 1.5s infinite;
  }
}

@keyframes logoZoom {
  0% {
    width: 33%;
  }
  50% {
    width: 40%;
  }
  100% {
    width: 33%;
  }
}

.container {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

@keyframes slidein {
  from {
    width: 0px;
  }

  to {
    width: 100%;
  }
}

@keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

svg {
  height: 240px;
  width: 700px;
}
