@import "mixins";
@import "variables";
@import "cube";
@import "main";
@import "about";
@import "categories";
@import "organizers";
@import "contacts";
@import "memories";
@import "partners";
@import "gifts";
@import "place";
@import "slider";
@import "requirements";
// @import "benefits";

html {
  font-size: 10px;
}

body {
  background-color: $background;
  margin: 0;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  //zoom: 100%;
}
img {
  width: 100%;
}

h2 {
  font-size: 10rem;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  color: #003345;
  position: relative;

  @include for-mobile() {
    font-size: 4.8rem;
  }

  &:after {
    width: 100%;
    position: absolute;
    left: -2px;
    top: -2px;
    mix-blend-mode: multiply;
    white-space: pre-wrap;

    @include for-mobile(){
      left: -2px;
      top: -2px;
    }
  }

  &:before {
    position: absolute;
    top: -5px;
    left: -5px;
    color: #10a9df;
    mix-blend-mode: multiply;
    white-space: pre-wrap;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: ease-in-out;

  .main__logo {
    max-width: 1000px;
    animation: logoZoom 1.5s infinite;
  }
}

@keyframes logoZoom {
  0% {
    width: 33%;
  }
  50% {
    width: 40%;
  }
  100% {
    width: 33%;
  }
}

.container {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

@keyframes slidein {
  from {
    width: 0px;
  }

  to {
    width: 100%;
  }
}

@keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

svg {
  height: 240px;
  width: 700px;
}
