$background: #CEF0F4;

// See https://getbootstrap.com/docs/4.0/layout/grid/
$media-mobile-bp: 576px;
$media-medium-bp: 768px;
$media-desktop-bp: 992px;
$media-big-desktop-bp: 1120px;
  
$main-color-green: #2fa7ac;
$main-color-red: #dd3a28;
//$main-color-red: #dd0000;
$main-color-beige: #dbe1d5;
$color-red: #df0000;
$color-wine: #762a2f;
$color-white: #fff;
$color-black: #2f2f2f;
$color-text-black: #404141;
$color-tr-grey: rgba(37, 37, 37, 0.7);
$color-grey: #595959;
$slick-dot-size: 52px;
$slick-dot-color-active: $color-red;
$slick-dot-color: $color-wine;